NEXT_PUBLIC_SITE_URL=https://sqlquery.techcodecompany.com
NEXT_PUBLIC_ADSENSE_ENABLED=true
NEXT_PUBLIC_ADSENSE_CLIENT=ca-pub-6566192641888645
NEXT_PUBLIC_ADSENSE_SLOT_BANNER=5183612327
NEXT_PUBLIC_ADSENSE_SLOT_SQUARE=9222479973
